.index {
  width: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10rem auto;
}

img {
  width: 8rem;
}

.post-line {
  border-top: 0.4rem solid #333;
  display: block;
  margin: 0.5rem auto 1rem;
  width: 4rem;
}

.links {
  font-size: 1.5rem;

  a {
    padding: 0 0.3rem;
  }
}
