.index {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10rem auto;
  gap: 2rem;
}

img {
  width: 10em;
  height: 10em;
  color: transparent;
}

.post-line {
  border-top: 0.4rem solid #333;
  display: block;
  margin: 0.5rem auto 1rem;
  width: 4rem;
}

.links {
  font-size: 1.5rem;

  > a {
    padding: 0 0.3rem;
  }
}
